html, body {
    font-size: 18px;
}

button {
    font-size: 1rem;
    height: 54px;
}

h1, h2, h3, h4, p {
    // font smoothing
}

a {
    color: #000;
}

.grid-row {
    flex: auto;

    .grid-column {
        flex: auto;
    }
}