* {
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

section {
  & .section-content {
    margin: 0 auto;
    max-width: 920px;
    padding: 4rem 0;
    width: 100%;
  }
}

button {
  font-size: 1rem;
  height: 54px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  letter-spacing: -0.10rem;
  line-height: 1;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $primary;
}

img {
  max-width: 100%;
}

footer {
  border-top: $line;
  padding: 2rem;
}

.grid-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;

  .grid-column {
    flex: auto;
  }
}

.align-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.text-large {
  font-size: 1.25rem;
}

.width-medium {
  max-width: 600px;
}

@for $i from 0 to 5 {
  .mt-#{$i} {
    margin-top: $i + rem !important;
  }
  .mr-#{$i} {
    margin-right: $i + rem !important;
  }
  .mb-#{$i} {
    margin-bottom: $i + rem !important;
  }
  .ml-#{$i} {
    margin-left: $i + rem !important;
  }
  .pt-#{$i} {
    padding-top: $i + rem !important;
  }
  .pr-#{$i} {
    padding-right: $i + rem !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + rem !important;
  }
  .pl-#{$i} {
    padding-left: $i + rem !important;
  }
}