* {
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

section {
  & .section-content {
    margin: 0 auto;
    max-width: 920px;
    padding: 4rem 0;
    width: 100%;
  }
}

button {
  font-size: 1rem;
  height: 54px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  letter-spacing: -0.10rem;
  line-height: 1;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $primary;
}

.grid-row {
  flex: auto;

  .grid-column {
    flex: auto;
  }
}
