/* COLORS */
$primary: #E9204F;
$secondary: #1B1B1B;

/* GRAYSCALE */
$white: #ddd;
$gray1: #ddd;
$gray2: #ddd;
$gray3: #ddd;
$gray4: #ddd;
$gray5: #ddd;
$gray6: #ddd;
$black: #ddd;

/* OTHER */
$clickable-height: 54px;
$breakpoint-small: 720px;
$line: 1px solid #ddd;
$font-size: 18px;
$page-max-width: 960px;

